pipeline/02 load up all history.json
{
	"name": "02 load up all history",
	"properties": {
		"activities": [
			{
				"name": "ListAllFolders",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "src_filelist",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "TraverseFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ListAllFolders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ListAllFolders').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ExecCopyFolder",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "01 copy history to silver",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"UYear": {
										"value": "@item().Byear",
										"type": "Expression"
									},
									"UMonth": {
										"value": "@item().Bmonth",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}